<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Base Styles -->
    <link href={{ url_for('home_bp.static', filename='styles/base.css') }}
    rel="stylesheet" type="text/css" /> <link href={{
    url_for('runner_bp.static', filename='styles/runner.css') }}
    rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="main-window">
      <h1>Runner homepage</h1>
    </div>
  </body>

  <footer>
    <div class="footer-bar">
      <h5>Status: {{ runner_site_status }}</h5>
    </div>
  </footer>
</html>
