html {
  /* Following 2 lines are required to have a sticky footer */
  position: relative;
  height: 100%;
}
body,
#main-bgimg {
  /* Margin should be aligned with hight of the footer */
  margin-bottom: 30px;
  overflow: auto;
  height: 100%;
}

/* Navigation bar configuration */
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-default {
  background-color: #343a40;
}

.dropdown-default > a {
  color: #fff;
  background-color: #343a40;
}

.dropdown-default > a:hover,
.dropdown-default > a:focus {
  color: #343a40;
  background-color: #fff;
}

/* Background image configuration */
#main-bgimg {
  background: url(../images/kookboek-background-image.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: whitesmoke;
}

/* main content configuration */
.main-container {
  color: whitesmoke;
  padding-top: 36px;
}

.top-row-main-content {
  height: 225px;
}

.top-left-cell {
  background-color: lightgrey;
  color: black;
  opacity: 0.75;
}

.top-center-cell {
  background-color: whitesmoke;
  color: black;
  opacity: 0.75;
}

.top-right-cell {
  background-color: lightgrey;
  color: black;
  opacity: 0.75;
}

.middle-row-content {
  min-height: 290px;
  background-color: whitesmoke;
  color: black;
  opacity: 0.75;
}

.bottom-row-content {
  min-height: 30px;
}

.form-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.form-item {
  margin: 5px;
}

.form-item > input,
textarea,
select {
  background-color: black;
  color: whitesmoke;
}

.form-item-label {
  color: black;
  padding: 0px 3px 0px 10px;
}

#submit_btn {
  background-color: black;
  border: 2px solid grey;
  color: white;
}
