{% extends "kookboek/kookboek.html" %} {% block body %}
<div class="body-container">
  <div class="body-container-title">
    Manage Ingredients
  </div>
  <div class="body-container-content">
    <div class="table-content">
      <table>
        <caption class="table-caption">
          Ingredients
        </caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Default amount</th>
            <th>Unit</th>
            <th>Unit Description</th>
            <th>Picture</th>
          </tr>
        </thead>
        <tbody>
          {% for ingredient_item in ingredients_list %}
          <tr>
            <td>{{ ingredient_item.ingredient_name }}</td>
            <td>{{ ingredient_item.ingredient_default_amount }}</td>
            <td>{{ ingredient_item.ingredient_unit }}</td>
            <td>{{ ingredient_item.ingredient_unit_description }}</td>
            <td><img class="table-row-image"
                     src="{{ url_for('kookboek_bp.get_ingredient_picture',
                      id_ingredient = ingredient_item.ingredient_id) }}"
                     alt="None">
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="body-sidebar">
      <div class="body-sidebar-top">
        <form
          action="{{ url_for('kookboek_bp.manage_ingredients') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          {{ form_add.csrf_token }}
          <div>
            <ul>
                <li>{{ form_add.ingredient_name.label}} {{
                    form_add.ingredient_name(list="ingredients_dropdown_list") }}
                    <datalist id="ingredients_dropdown_list">
                      {% for entry in ingredients_list %}
                      <option value="{{ entry.ingredient_name }}">
                        {% endfor %}
                      </option>
                </li>
              <li>
                {{ form_add.ingredient_default_amount.label}} {{
                form_add.ingredient_default_amount()}}
              </li>
              <li>
                {{ form_add.ingredient_unit.label }} {{
                    form_add.ingredient_unit() }}
              </li>
              <li>
                {{ form_add.ingredient_picture.label }}
                {{ form_add.ingredient_picture }} 
              </li>
            </ul>
          </div>
          <div class="form-button">{{ form_add.submit_add() }}</div>
        </form>
      </div>
      <div class="body-sidebar-bottom">
        <form
          action="{{ url_for('kookboek_bp.manage_ingredients') }}"
          method="POST"
        >
          {{ form_del.csrf_token }}
          <div class="form-button">{{ form_del.submit_del }}</div>
          <div>{{ form_del.ingredients.label }} {{ form_del.ingredients }}</div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
