{% extends "kookboek/kookboek.html" %}
<!-- content top window left-->
{% block top_left_content %}
<div class="top-left-cell"></div>
{% endblock %}
<!-- content top window center-->
{% block top_center_content %}
<div>
  <h3 class="text-center">Eenheid</h3>
  <hr class="m-0" />
  <div class="container p-0 m-0">
    <form action="{{ url_for('kookboek_bp.manage_units') }}" method="POST">
      {{ form.csrf_token }}
      <div class="row">
        <div class="form-item-label">
          {{ form.name.label }}
        </div>
        <div class="form-item">
          {{ form.name }}
        </div>
        <div class="form-item-label">
          {{ form.description.label }}
        </div>
        <div class="form-item">
          {{ form.description }}
        </div>
      </div>
      <hr class="mb-1" />
      <div class="row">
        <div class="col-md-3 offset-md-5">
          <input type="hidden" name="unit_id" value="{{ form.id }}" />
          <button type="submit" class="btn btn-dark">
            <i class="far fa-save"></i> Bewaar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
<!-- content top window right-->
{% block top_right_content %}
<div class="top-right-cell"></div>
{% endblock %}
<!-- content middle window center-->
{% block middle_content %}
<div class="middle-row-content">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="col-sm-3 text-center">Naam</th>
        <th scope="col" class="col-sm-6 text-center">Beschrijving</th>
        <th scope="col" class="col-sm-3 text-center">Actie</th>
      </tr>
    </thead>
    <tbody>
      {% for unit_item in units_list %}
      <tr>
        <th scope="row"><small>{{ unit_item.name }}</small></th>
        <th scope="row"><small>{{ unit_item.description }}</small></th>
        <th scope="row" class="text-center">
          <a
            class="btn btn-dark btn-sm py-0"
            href="{{ url_for('kookboek_bp.edit_unit',unit_id=unit_item.id) }}"
            role="button"
            ><small><i class="fas fa-pencil-alt"></i> Edit</small></a
          >
          <a
            class="btn btn-danger btn-sm py-0"
            href="{{ url_for('kookboek_bp.delete_unit',unit_id=unit_item.id) }}"
            role="button"
            ><small><i class="far fa-trash-alt"></i> Del</small>
          </a>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

<!-- content bottom window (Status bar)-->
{% block bottom_content %}
<div class="bottom-row-content">
  <h5>Status: {{ kookboek_site_status }}</h5>
</div>
{% endblock %}
